
*.pyc

__pycache__/accesspr.cpython-35.pyc

__pycache__/fitderiv.cpython-35.pyc

__pycache__/gaussianprocess.cpython-35.pyc

__pycache__/genutils.cpython-35.pyc

20170402_PromoterProtein.ipynb

20170402_PromoterProtein.ipynb

*.pyc

.ipynb_checkpoints/Hxt pyruvate analysis-checkpoint.ipynb

.ipynb_checkpoints/MoClo Promoters Analyisis -checkpoint.ipynb
