
*.pyc

__pycache__/accesspr.cpython-35.pyc

__pycache__/fitderiv.cpython-35.pyc

__pycache__/gaussianprocess.cpython-35.pyc

__pycache__/genutils.cpython-35.pyc

20170402_PromoterProtein.ipynb

20170402_PromoterProtein.ipynb

*.pyc

.ipynb_checkpoints/Hxt pyruvate analysis-checkpoint.ipynb

.ipynb_checkpoints/MoClo Promoters Analyisis -checkpoint.ipynb

Hxt pyruvate analysis.ipynb

20170402_PromoterProtein.ipynb

.ipynb_checkpoints/20170411_multiple_ODs_analysis-checkpoint.ipynb

MoClo Promoters Analyisis .ipynb

20170411_multiple_ODs_analysis.ipynb

20170411_Hxt_colorScatter_gr_dgr.pdf

Untitled1.ipynb
*.pkl
*.xls
*.xlsx
xprBackup.py
20171107_allMutantTimings

__pycache__/platereader.cpython-35.pyc

__pycache__/platereader.cpython-35.pyc
